

<div style="float:left;width:20%">
    <h3>Menu</h3>
    <kendo-panelbar name="project">
        <items>
            <panelbar-item text="Manufaturing Operations Management" expanded="true">
                <items>
                    <panelbar-item text="Assembly Operations">
                        <items>
                            <panelbar-item text="Trip Saver II"></panelbar-item>
                            <panelbar-item text="Custom MES"></panelbar-item>
                            <panelbar-item text="Fuse J.O. Tracker"></panelbar-item>
                            <panelbar-item text="Team Member Scheduling"></panelbar-item>
                            <panelbar-item text="PMG"></panelbar-item>
                            <panelbar-item text="Vista"></panelbar-item>
                            <panelbar-item text="Torque Monitoring"></panelbar-item>
                            <panelbar-item text="Intellirupter"></panelbar-item>

                        </items>
                    </panelbar-item>
                    <panelbar-item text="MiLDEW">
                        <items>
                            <panelbar-item text="Data Entry">
                                <items>
                                    <panelbar-item text="Part Request"></panelbar-item>
                                    <panelbar-item text="My Profile"></panelbar-item>
                                    <panelbar-item text="Custom MES Issue Entry"></panelbar-item>

                                </items>
                            </panelbar-item>
                            <panelbar-item text="Manager Views">
                                <items>
                                    <panelbar-item text="Open Issue"></panelbar-item>
                                    <panelbar-item text="Closed Issues"></panelbar-item>

                                </items>
                            </panelbar-item>

                        </items>
                    </panelbar-item>

                </items>
            </panelbar-item>
            <panelbar-item text="Fabrication And Polymer">
                <items>
                    <panelbar-item text="Polymer Shot Tracker (v2)"></panelbar-item>
                    <panelbar-item text="B6 Fabrication">
                        <items>
                            <panelbar-item text="Fabrication">
                                <items>
                                    <panelbar-item text="Transact Kits" contextmenu=""></panelbar-item>
                                    <panelbar-item text="Rework"></panelbar-item>
                                    <panelbar-item text="Safety Stock Kits"></panelbar-item>
                                    <panelbar-item text="Sequence No."></panelbar-item>
                                    <panelbar-item text="Salvagnini Dashboard"></panelbar-item>
                                    <panelbar-item text="EFS Hang/Takedown"></panelbar-item>
                                    <panelbar-item text="PFS Hang/Takedown">
                                        <items>
                                            <panelbar-item text="Heijunka Setup" action=""></panelbar-item>
                                            <panelbar-item text="Hang Screen"></panelbar-item>
                                            <panelbar-item text="Takedown Screen"></panelbar-item>
                                            <panelbar-item text="Painted Parts"></panelbar-item>
                                            <panelbar-item text="Takedown Not Recorded"></panelbar-item>
                                            <panelbar-item text="Takedown Live View"></panelbar-item>
                                            <panelbar-item text="Heijunka Screen Hang" />
                                            <panelbar-item text="Heijunka Screen Takedown" />
                                            <panelbar-item text="Painted Parts (Year-To-Date)" />
                                        </items>
                                    </panelbar-item>
                                    <panelbar-item text="PFS Quick Delivery"></panelbar-item>
                                    <panelbar-item text="EFS Location Edit"></panelbar-item>

                                </items>
                            </panelbar-item>
                        </items>
                    </panelbar-item>
                    <panelbar-item text="Electroplating"></panelbar-item>
                    <panelbar-item text="Team Member Scheduling"></panelbar-item>
                    <panelbar-item text="Capacity Tracker"></panelbar-item>
                    <panelbar-item text="Hourly Production Tracker"></panelbar-item>
                    <panelbar-item text="Manufactuing Engineering Tools"></panelbar-item>

                </items>
            </panelbar-item>
        </items>
    </kendo-panelbar>
</div>
@code { }
